<div class="pager">
  <a href="{{ prev }}" class="prev {{ prev_id }}">&laquo;{{ prev_title }}</a>
  <a href="index.html" class="index">Index</a>
  <a href="{{ next }}" class="next {{ next_id }}">{{ next_title }}&raquo;</a>
</div>
