{% if chapters|length <= 1 %}
  
  {#Single Chapter Documentation#}
  <section>
    <ul class="index">
      {% for item in index %}
        <li><a href="{{ item.file }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </section>

{% else %}
  
  {#Multiple Chapter Documentation#}
  {% set last_chapter = '' %}
  {% for item in index %}
    
    {#Start a new section for each chapter; we assume items are in chapter order#}
    {% if loop.first or last_chapter != item.chapter %}
      {% set last_chapter = item.chapter %}
      {% if not loop.first %}
        </ul></section>{% endif %}
      
      <section>
      <h2>{{ item.chapter }}</h2>
      <ul class="index">{% endif %}
    
    <li><a href="{{ item.file }}">{{ item.title }}</a></li>
  
  {% endfor %}
  </ul>
  </section>

{% endif %}





