{% spaceless %}
  <div class="pager">
    <a href="{{ prev }}" class="prev {{ prev_id }}">&laquo;{{ prev_title }}</a>
    {% if is_index %}
      <span class="pager__book-title">{{ book.title }}</span>
    {% else %}
      <a href="index.html" class="index pager__book-title">{{ book.title }}</a>
    {% endif %}
    <a href="{{ next }}" class="next {{ next_id }}">{{ next_title }}&raquo;</a>
  </div>
{% endspaceless %}
